*{
margin:auto;
padding:auto;
}
body
{
background-color:#cccccc;
}
h6
{
text-align:center;
color:black;
font-size:15px;
padding-top:10px;
}
h5
{
text-align:center;
color:blue;
font-size:15px;
padding-top:10px;
}
h2
{
color:blue;
text-align:center;
}
h3
{
color:red;
text-align:center;
padding:10px;
}
.wrapper
{
width:1250px;
height:600px;
background-color:#ffffff;
margin-top:10px;
padding:25px;
}
.aside
{
width:200px;
height:auto;
float:left;
margin-top:40px;
}
.subject
{
width:165px;
height:30px;
border:1px solid #000000;
margin-bottom:2px;
overflow:hidden;
padding:7px 0px 7px 0px;
}
.column
{
width: 1000px;
height: auto;

margin-left: 245px;
margin-top:40px;
}
.day
{
width:165px;
height:auto;

float:left;
}
.footer
{

width:1250px;


margin-top:-45px;
text-align:right;
font-weight:bold;
}