*{
margin:auto;
padding:auto;
}

body
{
background-color:#cccccc;
}
.wrapper
{
width:1060px;
height:450px;
background-color:#636363;
padding:20px;
}
.pic
{
width:200px;
height:149px;
float:left;
padding:5px;
background-color:#ffffff;
}
.container{
width:200px;
height:149px;
float:left;
margin-left:5px;
margin-right:5px;
margin-top:100px;
background-color:#ffffff;

}